
* {
    font-family: "Comic Sans MS";

}

h1 {
    font-size: 32pt;
}

#EditAccount-RowForm{
    display: grid;
    grid-template-columns: 100px 100px 200px 200px 200px 120px 100px 1fr;
    grid-gap: 5px;
    border: 2px solid rgb(24, 104, 104);
    width: 1200px;
}

#EditAccount-RowForm-Row{
    display: flex;
    justify-content: center;
    /* padding: 0 2%; */
    font-size: 12pt;
}

#DeleteAccount-RowForm{
    display: grid;
    grid-template-columns: 100px 100px 200px 200px 200px 120px 100px 1fr;
    grid-gap: 5px;
    border: 2px solid rgb(24, 104, 104);
    width: 1200px;
}

#DeleteAccount-RowForm-Row{
    display: flex;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 12pt;
    padding: 0 2pt ;
}

#DeleteAccount-RowForm-Row-header{
    display: flex;
    justify-content: center;
    font-size: 12pt;
}

table{
    border: 1px solid black;
    width: 100%;
}

th {
    background-color: rgba(150, 212, 212, 0.8);
    font-size: 20pt;
}

tr:nth-child(even){
    background-color: rgba(150, 212, 212, 0.4);
}

.navbar-header{
    display: flex;
    justify-content: center;
    font-size: 64px;
    background: rgb(150, 212, 212);
    padding: 20px 40px;
}

a.Logo{
    color: white;
    text-decoration: none;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background-color: rgb(150, 212, 212);
    padding: 20px 40px;
}

.nav-links li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}

.nav-links li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li:hover::after{
    width: 100%;
}

.Update-Information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 212, 212);
    color: white;
    padding: 40px 20px;
}

.Update-Information .header{
    font-size: 32pt;
    text-align: center;
    width: 100%;
    background-color: rgb(24, 104, 104);
    font-style: italic;
    padding: 2% 0;

}

.Profileheader{
    background-color: rgb(150, 212, 212);
    color:white;
    padding: 40px 20px;
    padding: 2% 0;
    text-align: center;
}

.UpdatePersonal{
    width: 75%;
}
 
.UpdatePersonal label{
    width: 42%;
    text-align: right;
    display: inline-block;
    margin: 0 3%;
}
.UpdatePersonal input{
    margin: 0 3%;
    width: 42%;
}

.UpdatePersonal input[type=submit] {
    background-color: rgb(150, 212, 212);
    font-style: italic;
    color: white;
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
    width: 10%;
    position: absolute;
    right: 25%;
}

.UpdatePersonal input[type=submit]:hover{
    background-color: rgb(43, 116, 116);
}

.UserType-Information{
    background-color: rgb(150, 212, 212);
    color: white;
    padding: 2%;
    margin: 4% 0;
}

.UserType-Information h2{
    font-size: 32pt;
    font-style: italic;
    width: 100%;
    background-color: rgb(43, 116, 116);
    text-align: center;
}

.UserType-Information h3{
    font-size: 24pt;
    width: 100%;
    font-style: italic;
    background-color: rgb(43, 116, 116);
}
